h3{
    color:blue
}

h4 {
    color:brown
}

.m-0 {
    color: aquamarine;
}

.card-header{
    background-color:black
}

.card-body {
    background-color: black;
}

#genderOutput {
    color: bisque;
}

#birthYearOutput {
    color:bisque
}

